
<template>
    <van-nav-bar
        title="注册"
        left-text="返回"
        right-text="登录"
        left-arrow
        @click-left="onClickLeft"
        @click-right="onLogin"
    ></van-nav-bar>
    <div style="height: 46px;"></div>

    <van-form @submit="onSubmit">
        <van-field
            v-model="username"
            name="username"
            type="number"
            label="手机号"
            placeholder="请填写手机号"
            clearable
            :rules="[{ required: true, message: '请填写用户号 | 手机号' }]"
        ></van-field>
        <van-field
            v-model="imgcode"
            name="imgcode"
            center
            clearable
            label="图形验证码"
            placeholder="请输入图形验证码"
        >
            <template #button>
                <img onclick="this.src=App.href+'index/imgcode?'+Math.random();" style="width: 5rem;" :src="App.href+'index/imgcode'" alt="验证码" />
            </template>
        </van-field>
        <van-field
            v-model="sms"
            name="sms"
            center
            clearable
            label="短信验证码"
            placeholder="请输入短信验证码"
            :rules="[{ required: true, message: '请填写短信验证码' }]"
        >
            <template #button>
                <div class="van-button van-button--primary van-button--small" @click="sendMsg">
                    <div class="van-button__content">
                        <span v-show="sendSleep == 0" class="van-button__text">发送验证码</span>
                        <span v-show="sendSleep > 0" class="van-button__text">等待{{ sendSleep }}秒</span>
                    </div>
                </div>
            </template>
        </van-field>
        <van-field
            v-model="password"
            type="password"
            name="password"
            label="密码"
            placeholder="请填写密码"
            clearable
            :rules="[{ required: true, message: '请填写密码' }]"
        ></van-field>
        <van-field
            v-model="password2"
            type="password"
            name="password2"
            label="重复密码"
            placeholder="请再次填写密码"
            clearable
            :rules="[{ required: true, message: '请填写密码' }]"
        ></van-field>
        <div style="margin: 1rem;">
            <van-button v-show="!loging" round block type="info" native-type="submit">
              提交
            </van-button>
            <van-button v-show="loging" loading type="info" round block loading-text="提交中..."></van-button>
        </div>
    </van-form>

</template>
<script>

    //导入组件 form vant
    App.use(['Form', 'CountDown'], vant);

    //定义Vue实例
    page.uhome.upopup = new Vue({
        el: '#user-popup',
        data: {
            loging: false,
            username: '',
            imgcode: '',
            password: '',
            password2: '',
            sms: '',
            sendSleep: 0
        },
        methods: {
            // 发送验证码
            sendMsg: function(){
                if(this.sendSleep > 0) return;
                this.sendSleep = 60;
                App.temp.timer = setInterval(function(){
                    if(!page.uhome.upopup || !page.uhome.upopup.sendSleep){
                        clearInterval(App.temp.timer);
                        return;
                    }
                    page.uhome.upopup.sendSleep--;
                    if(page.uhome.upopup.sendSleep === 0){
                        clearInterval(App.temp.timer);
                    }
                },1000);

                var _this = this;

                //接口请求
                App.ajax({
                    url: 'index/index/sendVerCode',
                    method: 'post',
                    data: {
                        phone: this.username,
                        imgcode: this.imgcode
                    }
                },function (ret, err) {
                    if(ret){
                        if(ret.status){
                            vant.Toast(ret.message);
                        }else{
                            _this.sendSleep = 0;
                            vant.Toast.fail(ret.message);
                        }
                    }else{
                        _this.sendSleep = 0;
                        vant.Toast.fail('网络错误');
                    }
                });
            },
            // 提交
            onSubmit: function(values) {
                if(this.loging) return;
                this.loging = true;
                var _this = this;
                App.ajax({
                    url: 'index/user/registApi',
                    method: 'post',
                    data: values,
                },function (ret, err) {
                    if(ret){
                        _this.loging = false;
                        if(ret.status){
                            vant.Toast(ret.message);
                            _this.onLogin();
                        }else{
                            vant.Toast.fail(ret.message);
                        }
                    }else{
                        vant.Toast.fail('网络错误');
                    }
                });
            },
            onClickLeft: function(){
                page.uhome.show_popup = false;
                // page.tabbar = 0; // 跳到首页
            },
            onLogin: function(){
                if(page.uhome.upopup && page.uhome.upopup.$destroy) page.uhome.upopup.$destroy();
                App.load('#user-popup',App.href + 'index/user/login');
            }
        }
    });

</script>
