
<template>

    <van-nav-bar
        fixed
        title=""
        style="z-index: 100"
        @click-left="onCloseShow"
        @click-right="onClickRight"
    >
        <template #left>
            <van-icon style="z-index: 300;" name="cross" size="23"  color="#c8c9cc"></van-icon>
        </template>
        <template #right>
            <van-icon name="more-o" size="23" color="#333"></van-icon>
        </template>
    </van-nav-bar>

    <div style="height: 46px;"></div>

    <div style="margin: 1rem;">
        <van-row>
            <van-col span="5">
                <img :src="App.res + user.avatar" style="border-radius:3rem;margin:0 auto;width: 3rem;height: 3rem;margin: .1rem 0 0 .25rem;">
            </van-col>
            <van-col span="19">
                <span v-if="user.sex == 'm'" style="color: #0c6dff;">♂</span>
                <span v-else style="color: #e85c5c;">♀</span>

                <span style="float: right;">
                    <van-button round plain type="info" size="small">发私信</van-button>
                    <van-button round type="warning" size="small">关注</van-button>
                </span>
                <span style="font-weight: 800;">{{ user.nickname }}</span>
                <p>
                    <span>已加入{{ inDay }}天 &nbsp;<span style="font-size: 0.75rem;">猿码：{{ user.num }}</span>&nbsp;</span>
                    <span v-for="val in user.level" style="color: #e82424;font-size: 1rem;">★</span>
                </p>
            </van-col>
        </van-row>

        <p style="margin: 0;padding-bottom: 0.5rem;font-size: 0.9rem;color: #aaaaaa;">
            <van-tag plain round type="warning">关注：{{user.info.follow}}</van-tag>
            <van-tag plain round type="warning">粉丝：{{user.info.fans}}</van-tag>
            <van-tag plain round type="primary">{{user.age}}岁</van-tag>
            <van-tag plain round type="primary" v-if="user.info.appreciate">获赞{{user.info.appreciate}}</van-tag>
        </p>
        <p style="margin: 0;font-size: 0.9rem;color: #aaaaaa;">
            {{user.sign}}
        </p>

    </div>
    <div style="height: 0.35rem;width:100%;background: #f0f0f0;"></div>
    <van-tabs v-model="active" sticky style="z-index: 200;">
        <van-tab :title="'发布 '+user.countA"></van-tab>
        <van-tab title="评论"></van-tab>
        <van-tab title="收藏"></van-tab>

        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoadmList">
            <van-cell-group v-for="(item,key) in mList" @click="showArticle(item.id)">
                <van-cell class="list avatar" :title="item.nickname" :icon="App.res+item.avatar" @click="showUser(item.uid, $event)">
                    <span v-if="item.follow" @click="followUser(item, $event)">已关注</span>
                    <span v-else @click="followUser(item, $event)" style="color:#4f8cea;">关注</span>
                </van-cell>
                <div class="main-call article-text">{{item.title}}</div>
                <van-grid v-if="item.type.indexOf('img') != -1" :border="false" :column-num="3" style="padding: 0 0.8rem" class="no-gridpadd">
                    <van-grid-item v-for="(iv,ii) in getRes(item.resource)">
                        <van-image class="border" fit="contain" @click="showImg(getRes(item.resource), ii, $event)" height="100" :src="iv"></van-image>
                    </van-grid-item>
                </van-grid>
                <div v-if="item.type.indexOf('video') != -1" class="small-video" style="text-align: center;padding: 0.5rem 0;">
                    <img class="vpalse" :src="App.href+ '/static/image/video-ext/video_btn_play.svg'"/>
                    <van-image class="border vimg-wauto" height="200" :src="getRes(item.resource)[0]"></van-image>
                </div>
                <div class="main-call">
                    <div class="article-tag" @click="showClass(item.tid, $event)">
                        <van-icon name="label-o"></van-icon>
                        {{item.cname}}
                    </div>
                </div>
                <div class="main-call">
                    <span class="article-btn-l" @click="favor(1, item.id, key, $event)"><van-icon name="good-job-o"></van-icon>{{item.up}}</span>
                    <span class="article-btn-l" @click="favor(-1, item.id, key, $event)"><van-icon class="rotate" name="good-job-o"></van-icon>{{item.low}}</span>
                    <span class="article-btn-l"><van-icon name="chat-o"></van-icon>{{item.comm_num}}</span>
                    <span class="article-btn-r"><van-icon name="share-o"></van-icon>分享</span>
                    <span class="article-btn-r"><van-icon name="warning-o"></van-icon>举报</span>
                </div>
            </van-cell-group>
        </van-list>
    </van-tabs>

    <van-popup
        v-model="popup_show"
        position="bottom"
        :style="{ height: '100%',width: '100%' }"
        @opened="loadArticle"
    >
        <div id="article-user-page"></div>
    </van-popup>

</template>

<script>

    //导入组件 form vant
    App.use(['Tag', 'Tab', 'Tabs'], vant);

    //设置当前url，便于分享
    // App.redirect('index/main-0-a-'+App.temp.articleId);

    //定义Vue实例
    new Vue({
        el: App.temp.articleVm,
        data: {
            id: App.temp.showUid,
            user: {
                nickname: '点击登录',
                avatar: 'avatar/default.png',
                register_time: 0,
                num: '00001',
                info: {}
            },
            active: 0,

            type: 0,
            popup_show: false, //是否显示弹出层

            //列表1
            mList: [],
            loading: false,
            finished: false,
            refresh: false,
            page: 1,
        },
        methods: {
            //关闭帖子弹出层
            onCloseShow: function(){
                App.temp.userClose();
            },
            onClickRight: function(){
                vant.Toast('更多');
            },
            onLoadmList: function(){
                var _this = this;
                App.es.ajax({
                    cmd: "index.Posts.getUserPostsList",
                    data: {uid: this.id, type: this.type}
                }, function(e, a) {
                    if (e) {
                        _this.refresh && (_this.mList = [], _this.refresh = !1, vant.Toast("刷新成功"));
                        for (var s in e.result.list) _this.mList.push(e.result.list[s]);
                        10 > e.result.list.length && (_this.finished = !0), _this.loading = !1, _this.page ++;
                    } else setTimeout(function() {
                        _this.loading = !1;
                    }, 500);
                });
            },
            onRefresh: function(){
                var _this = this;
                setTimeout(function(){
                    _this.finished = !1, _this.page = 1, _this.loading = !0, _this.onLoadmList();
                }, 500);
            },
            //点击进入帖子
            showArticle: function(id, e){
                App.temp.articleId = id;
                App.temp.articleVm = '#article-user-page';
                App.temp.articleClose = this.closeArticle;
                this.popup_show = true;
            },
            //将资源转为url数组
            getRes: function(r){
                if (!r) return [];
                var t = r.split(",");
                for(var i in t) t[i] = App.res + t[i];
                return t;
            },
            // 加载帖子
            loadArticle(){
                App.load(App.temp.articleVm, App.href + 'index/article/show');
                //app返回键事件
                App.addBack(function(){
                    page.uhome.upopup.popup_show = false;
                    page.uhome.upopup.closeArticle();
                });
            },
            //关闭帖子
            closeArticle(){
                //销毁实例
                if(App.temp.article && App.temp.article.$destroy) App.temp.article.$destroy();
                delete App.temp.article;
                delete App.temp.articleId;
                delete App.temp.articleClose;
                this.popup_show = false;
                setTimeout(function(){
                    App.redirect('index/main-4');//恢复路由
                    App.dom(App.temp.articleVm).innerHTML = '';
                },500);
            },
        },
        computed: {
            //加入天数
            inDay: function () {
                if(this.user.register_time == 0)return 0;
                var t = new Date().getTime().toString();
                t = Number(t.substr(0, 10));
                return parseInt((t - this.user.register_time)/86400);
            }
        },
        mounted: function(){
            var _this = this;

            //获取帖子内容
            App.es.ajax({
                cmd: 'index.user.getUserInfo',
                data: {
                    id: this.id
                }
            },function(ret, err){
                if(ret){
                    if(ret.code === 0){
                        _this.user = ret.result.info;
                    }else{
                        vant.Toast.fial(ret.message);
                    }
                }else{
                    vant.Toast.fial('网络错误');
                }
            });
        }
    });

</script>