
/* =================首页样式=================*/
.van-tab--active span {
    font-weight: 700;
}

.van-tabs__line {
    width: 1rem;
}

/*底部+按钮*/
.van-tabbar-item__icon .van-icon-add-o {
    padding-top: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #f33;
}

.main-call {
    padding: 0.5rem;
}

.article-tag {
    padding: 0.4rem;
    background-color: #fff3f3;
    border-radius: 0.7rem;
    font-size: 0.75rem;
    display: inline;
}
.article-tag .van-icon {
    color: #e64e77;
    font-size: 1rem;
    top: 0.2rem;
}
.no-gridpadd .van-grid-item__content {
    padding: 0.1rem;
}

.article-text {
    padding: 0 1rem;
    color: #444;
}

.article-views{
    float: right;
    font-size: 0.75rem;
    color: #666;
}

.list .van-icon__image {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
}

.rotate {
    transform: rotateX(180deg);
}

.article-btn-l {
    color: #666;
    line-height: 19px;
    padding-right: 0.6rem;
    font-size: 1rem;
}
.article-btn-r {
    color: #fe698d;
    float: right;
    line-height: 19px;
    padding-left: 1rem;
    font-size: 0.75rem;
}

.article-btn-l .van-icon, .article-btn-r .van-icon {
    padding: 0.1rem;
    /*font-weight: 500;*/
}

.avatar .van-icon__image{
    border-radius: 0.2rem;
}
.avatar-big .van-icon__image{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
.border img{
    border-radius: 0.2rem;
}
.vimg-wauto img{
    width: auto;
}

/*小视频播放器*/
.small-video{
    position:relative;
}
.small-video video{
    width:100%;
    height:100%;
    /*object-fit:scale-down;*/
    border-radius: 5px;
}
.small-video .vpalse{
    position: absolute;
    z-index: 1;
    width:50px;
    top:40%;
    left:42%;
}

/*播放器进度条*/
.progress{
    z-index: 1;
    height: 0.2rem;
    background-color: rgba(200,200,200,0.3);
    position: relative;
    margin-top: -0.4rem;
}
.progress .p-load{
    z-index: 2;
    position: absolute;
    height: 0.2rem;
    background: rgba(244, 238, 190, 0.5);
}
.progress .p-now{
    z-index: 3;
    position: absolute;
    height: 0.2rem;
    background: rgba(244, 238, 190);
}

.comment-call{
    padding: 0.25rem 1rem;
}
.comment-tool{
    color:#8D8D8D;
    font-size: 0.75rem;
    padding-right: 0.5rem;
}

.comment-tool .van-button{
    float: right;
    color: #888 !important;
}

/* =================用户中心=================*/

.my-grid .van-grid-item__content--center{
    background-color: rgba(0,0,0,0);
}
.my-grid .van-grid-item__content::after{
    border-width: 0;
}

.my-navbar{
    position:fixed;
    top:0;
    float: left;
    width: 100%;
    margin-left:1rem;
    height: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

/* =================发现页=================*/

.grid-block{
    overflow-x:scroll;
    white-space: nowrap;

}
.grid-item{
    padding: 0.25rem;
    display: inline-block;
}
.grid-item .grid-icon{
    width: 3rem;
    height: 3rem;
    background: #ddd;
    border-radius: 0.3rem;
}
.grid-item .grid-text{
    text-align: center;
    color: #666;
    width: 4em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* =================发布页=================*/

.my-swipe .van-swipe-item {
    text-align: center;
    height: 10rem;
}

/*vant扩展*/

.call-avatar{
    padding:0.3rem 0.3rem 0 0;
}
.call-avatar .van-icon__image{
    border-radius: 0.45rem;
}

/* =================通用=================*/

.divide-line{
    margin: 0.1rem 0;
    height: 0.25rem;
    width: 100%;
    background-color: #efefef;
}

/*内边距*/
.padd25{
    padding: 0.25rem;
}
.padd50{
    padding: 0.5rem;
}
.padd100{
    padding: 1.0rem;
}

.none{
    padding: 0;
    margin: 0;
}

/*灰色*/
.c-grey{
    color: #aaa;
}

/*模糊*/
.filter{
    background-size: 100% 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
